<!-- <?xml version="1.0"?> -->
<launch>

  <arg name="model" default="$(find kartorm)/urdf/arm.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find kartorm)/rviz/urdf.rviz" />
  <param name="robot_description" textfile="$(find kartorm)/urdf/arm.urdf"/>
  <!-- <param name="use_gui" value="$(arg gui)"/> -->

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

  <rosparam file="$(find kartorm)/config/controllers.yaml" command="load"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_1"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>
  
</launch>